.Category {
    width: 32%;
    aspect-ratio: 16/9;
    width: 250px;
    background-image: url(../../assets/poster.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    .category-content {
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        transition: 0.2 ease;
        
        .heading {
            color: white;
        }
        &:hover {
            // & -> category-content
            background-color: rgba($color: #000000, $alpha: 0.5);
        }
    }
}


@media screen and (max-width: 768px) {
    .Category {
        width: 48%;
    }
}

@media screen and (max-width: 480px) {
    .Category {
        width: 100%;
    }
}